.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  background: rgb(219, 213, 213);
  justify-content: space-around;
}
.country-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: rgb(250, 247, 247);
  margin: 1%;
  height: 10%;
  align-items: center;
  border-radius: 5px;
}
.country-info img {
  width: 100%;
  object-fit: cover;
  height: 8rem;
}
ul {
  list-style-type: none;
  padding: 3%;
  margin: 0;
}
li {
  font-size: medium;
  margin-top: 0;
}
input{
  margin:3% 40%;
  height: 1.5rem;
  border-color: rgb(41, 5, 202);
  border-radius: 5px;
}
.select-search{
  display: flex;
  align-items: center;
}
select{
  margin-right: 20rem;
  margin-top:1rem;
  height:2rem;
  width: 10rem;
}
